.emaildiv{
background-image: url("../../../public/images/email-marketing-6331b0ee98b47-sej-1280x720.webp");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 300px;
margin-top: 85px;


}