.grapicdiv{
    background-image: url("../../../public/images/images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 85px;
}