.leaddiv{
    background-image: url("../../../public/images/unnamed.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-top: 85px;
}