/* .fount{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 60px;
    display: flex;
    align-items: center;
}
span{
    padding: 15px;
      
}
a{
    color:rgb(243, 240, 240);
    
}
a :hover{
    color: #f58634;
}
.fount2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 790px;
} */