.head{
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  
}
.h4{
  display: flex;
  gap: 4vw;
  align-items: center;
  
 
}
.head h1{
  font-size: 2vw;
  font-weight: 700;
  color: black;
}
.h4 h4{
  font-size: 1.5vw;
   color: black;
}
.h4 i{
  font-size: 1.5vw;
  font-weight: 600;
  display: none;
}

@media (max-width:600px) {
  .head{
    background-color: aquamarine;
color: white;
padding: 0 5vw;
height: 75px;
  }
  .head h1{
    font-size: 6vw;
  }
  .h4 h4{
    font-size:4vw;
    display:none
  }
 .h4 i{
    display: block;
    font-size: 6vw;
  }
}